html,body{
    background-color: rgb(125, 143, 143);
    margin: 0%;
    padding: 0%;
}
p{
    font-size: 20px;
}
header{
    font-size: 76px;
    color: blanchedalmond;
    background-color: brown;
    text-align: center;
}
.Main-Conten{
    max-width: 800px;
    margin: auto;
}
.Image{ 
    width: 100%;
}
.Box{
    background-color: white;
    margin: 20px;
    padding: 30px;
}
.Button{
    background-color: lightgrey ;
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}  