body{
    background-color: rgb(79, 160, 160);
}
div {
    border: 2px solid rgb(255, 0, 0);
    padding: 10px;
}
header {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: blanchedalmond;
    background-color: rgb(165, 97, 42);
    margin: 10px;
    padding: 1px;
}
img{
    width: 600px;
    
}
.Text{
    font-size: 18px;
    font-weight: 300;
    padding-left: 15px;
}
.Detail{
    font-size: 22px;
    font-weight: 600;
    padding-left: 50px;
    color: brown;
}   
.list{
    font-size: 16px;
}
.Button{
    background-color: rgb(63, 2, 143);
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 1px 20px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;

}