body{
    background-color: rgb(79, 160, 160);
    margin: 10px;
    padding: 10px;
}
header {
    background-color: brown;
    color: blanchedalmond;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 1px;
    margin: 10px;

}
.Main-Conten {
    margin: auto;
    max-width: 1200px;
    border: 2px solid crimson;
}
.Image{
    width: 80%;
}
.Text{
    font-size: 18px;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
}
.Detail{
    font-size: 22px;
    font-weight: 600;
    padding-left: 50px;
    color: brown;
}   
.list{
    font-size: 16px;
}
.Button{
    background-color: rgb(63, 2, 143);
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 1px 20px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;

}